@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
}

.container {
    background-color: #fafafa;
    padding: 50px;
    transition: transform .5s linear;
    transform-origin: top left;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.container img {
    max-width: 100%;
    border-radius: 5px;
}

.circle-container {
    position: absolute;
    top: -100px;
    left: -100px;
}

.circle {
    width: 200px;
    height: 200px;
    background: rgb(255, 121, 121);
    border-radius: 50%;
    position: relative;
    transition: transform .5s linear;
}

.circle button {
    position: absolute;
    height: 100px;
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 30px;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.content {
    margin: 50px auto;
    max-width: 1000px;
}

.content h1 {
    margin: 0;
}

.content small {
    font-style: italic;
    color: #555;
}

.content p {
    line-height: 1.5;
    color: #333;
}

#open {
    left: 60%;
}

#close {
    transform-origin: top left;
    transform: rotate(90deg);
    top: 60%;
}

nav {
    position: fixed;
    bottom: 50px;
    left: 0;
}

nav ul {
    list-style-type: none;
    font-size: 16px;
    color: #fff;
    padding-left: 40px;
    transition: transform .4s ease-in;
}

nav ul li {
    margin-bottom: 40px;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: transform .4s;
}

nav ul li i {
    margin-right: 10px;
    font-size: 20px;
}

nav ul li+li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li+li+li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: .3s;
}